@mixin daire($color, $radius) {
  width: calc($radius * 2);
  height: calc($radius * 2);
  background-color: $color;
  border-radius: 50%;
}

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin btn($color: rgba(255, 255, 255, 0)) {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  background-color: $color;
  border: none;
}
