form {
  width: 200px;
  margin: auto;
  background-color: gray;
  padding: 10px;
}
h3 {
  color: white;
}

.itemBox {
  display: flex;
  flex-direction: column;
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
